.picker-wrapper {
    margin: 5px 0;
}

.picker-wrapper-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    margin: 0 5px 0 0 ;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    font-size: 8px;
}

.picker-wrapper-circle.active{
    background-color: #000;
    color: #fff;
}

.picker-wrapper-circle.black{
    background-color: black;
}

.picker-wrapper-circle.violet{
    background-color: violet;
}

.picker-wrapper-circle.yellow{
    background-color: yellow;
}

.picker-wrapper-circle.gray{
    background-color: gray;
}