body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 800px;
    height: 500px;
    position: relative;
}


.board {
    position: absolute;
    height: 500px;
    width: 800px;
    background: url(./img/background.png);
    background-size: cover;
    transition: all 0.3s linear;
    z-index: 1;
    opacity: 0.6;
}

.floor{
    background: url('./img/floor.png');
    position: absolute;
    height: 38px;
    width: 100%;
    background-size: cover;
    bottom: 0px;
    transition: all 0.3s linear;
    z-index: 2;
}

.player {
    width: 140px;
    height: 200px;
    background: url('./img/supermario.png');
    position: absolute;
    bottom: 23px;
    left: 100px;
    z-index: 3;
    background-size: cover;
    background-position-x: 140px;
}

.move{
    background-position-x: 0px;
}

.sx{
    width: 140px;
    height: 200px;
    background: url('./img/supermario_sx.png');
    position: absolute;
    bottom: 23px;
    left: 100px;
    z-index: 3;
    background-size: cover;
    background-position-x: 0px;
}

.sx.move{
    background-position-x: 140px;
}